body {
    font-family: 'EB Garamond', serif;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand:hover {
    background: #969393;
    color: white;
}

.bg-photo {
    background-image: url(images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 500px;
}